.background {
  position: relative; /* Set the parent container to relative positioning */
  background-image: url("./earth-1365995_960_720.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.content {
  position: absolute; /* Set the form container to absolute positioning */
  bottom: 20px; /* Adjust bottom spacing as needed */
  left: 20px; /* Adjust left spacing as needed */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.titleone {
  text-align: center;
}

.formone {
  display: flex;
  flex-direction: column;
}

.formone div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
