@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./mainbg.png");
  background-size: 256px 256px;
}

.welcome-block{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .4);
    box-shadow: 3px 7px 3px 3px #6e6e6e22;
    backdrop-filter: blur(10px);
    height: 250px;
    width: 1300px;
    border-radius: 15px;
    text-align: center;
	margin-top: 140px;
}

#border {
  width: 250px;
  padding: 1px;
  border: solid black 2px;
  background: lightblue;
}

.center {
  text-align: center;
  line-height: 65px;
}

.center-logo {
  text-align: center;
  line-height: 0px;
  margin-right: 80px;
}

.margins {
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.text-outline {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
