.welcome-block {
  background:url("./homepagebackground.png");
  max-width: 600px;
  margin: 16% 28%; 
  padding: 10px;
}

@media (min-width: 768px) {
  .welcome-block {
    padding: 60px;
  }
}

.background{
  background: url("./homepagebackground.png")
}


.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire width of the viewport */
  height: 100%; /* Cover the entire height of the viewport */
  z-index: -1;
}


