body{
    background: url('./logo.jpg');
}

.login-block{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #95b6d1;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    height: 300px;
    width: 400px;
    border-radius: 15px;
    text-align: center;
}

.welcome{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 15px;
    color: white;
}

.input-block{
    margin-top: 40px;
    justify-content: center;
    padding: 10px;
}

.username{
    height: 30px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
}

.username:hover{
    background-color: rgb(206, 206, 206);
    transition: all 0.5s linear;
}

.password{
    margin-top: 10px;
    width: 220px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.password:hover{
    background-color: rgb(206, 206, 206);
    transition: all 0.5s linear;
}

.login{
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    width: 220px;
    background-color: rgb(228, 228, 228);
}

.login:hover{
    background-color: rgb(179, 179, 179);
    transition: all 0.5s linear;
}

.sign-up{
    height: 35px;
    margin-top: 10px;
    color: white;
}
