@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.brand{
    position: absolute;
    top: 10px;
    font-size: 2rem;
}

.sidebar{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #9BB0C1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.item-list{
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.item-list li{
    padding: 30px 0;
}

.item-list li:hover{
    background-color: #479adf;
    transition: all 0.5s linear;
    cursor: pointer;
}